html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ffffff;
}

h1 {
	font-family: Times;
	//font-size: 105%;
	text-align: center;
}

a {
	text-decoration: none;
}

#main_title {
	color: Black;
}

#title_tab {
	background-color: #ecf4ec;
	padding-top: 2pt;
	padding-bottom: 3pt;
	text-align="center";
	display: flex;
	justify-content: center;
}

img {
	padding-top: 13pt;
	padding-right: 20pt;
}

p {
	font-family: Geneva, sans-serif!important;
}

.button {
	font-family: Geneva, sans-serif!important;
	font-size: 22px;
	text-decoration: bold;
}

.post_title {
	font-size: 24px;
	font-family: Geneva, sans-serif!important;
	color: Black;
}

.grid-container {
	display: grid;
	grid-template-areas:
		'menu main main main main main right'
		'menu main main main main main right';
	grid-gap: 10px;
	padding: 10px;
	padding-left: 125px;
	padding-right: 125px;
}

#item1 {grid-area: menu;}
#item2 {
	grid-area: main;
	padding: 10px
}
#item3 {grid-area: right;}

.scrollable_main {
	overflow-y: scroll;
	height: 600px;
}





